extends ./layout/baseLogin.pug
block content 

    main(class="main-login")
        div(class="contenedor-load")
            img(src="/static/img/decars_logo.jpg", alt="", id="img-login")
            h1(class="h1-login") Ingresar auto
            form(action="/admin/cargar", method="post" class="form-load")
                div(class='display-flex')
                    div(class="first-div")
                        div(class="form-group")
                            input(type="text" class="form-control" id="brand" name="brand" placeholder="Marca" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="model" name="model" placeholder="Modelo" required)
                        div(class="form-group")
                            input(type="Number" class="form-control" id="year" name="year" placeholder="Año" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="img" name="img" placeholder="Imagen (URL)" required)
                        div(class="form-group")
                            input(type="Number" class="form-control" id="price" name="price" placeholder="Precio (En dolares)" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="motor" name="motor" placeholder="Motor" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="transmision" name="transmision" placeholder="Transmision" required)
                    div(class="second-div")
                        div(class="form-group")
                            input(type="Number" class="form-control" id="KM" name="KM" placeholder="KM" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="location" name="location" placeholder="Ubicacion" required)
                        div(class="form-group")
                            input(type="Number" class="form-control" id="doors" name="doors" placeholder="Numero de puertas" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="gas" name="gas" placeholder="Tipo de combustible" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="color" name="color" placeholder="Color" required)
                        div(class="form-group")
                            input(type="text" class="form-control" id="break" name="break" placeholder="Tipo de frenos" required)
                div(class="form-group")
                    button(type="submit" class="btn btn-dark btn-block" id="btn-login") Enviar