extends ./layout/baseLogin.pug
block content 

    main(class="main-login")
        div(class="contenedor-login")
            img(src="/static/img/decars_logo.jpg", alt="", id="img-login")
            h1(class="h1-login") Inicia sesión
            form(action="/login", method="post")
                div(class="form-group")
                    input(type="user" class="form-control" id="email" name="email" placeholder="Usuario" required)
                div(class="form-group")
                    input(type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required)
                div(class="form-group")
                    button(type="submit" class="btn btn-dark btn-block" id="btn-login") Iniciar sesión